# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
migrations/


# Virtual environment
.venv/
#.env
.env.production

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Other
*.DS_Store
*.pyo
*.pyd
*.db
*.sqlite3

# Secrets
*.env
